h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.column2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0px;
  padding-left: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: left;
}

.slide {
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.24)), to(rgba(0, 0, 0, 0.24))), url('../images/homepage_001.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.24)), url('../images/homepage_001.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.text-wrapper {
  width: 30%;
  padding-top: 15px;
  padding-left: 27px;
}

.div-block-14 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.paragraph {
  padding-right: 40px;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
}

.paragraph.centre {
  display: block;
  width: 50%;
  margin-right: auto;
  margin-bottom: 51px;
  margin-left: auto;
  padding-right: 48px;
  padding-left: 48px;
  text-align: center;
}

.paragraph.c {
  padding-right: 128px;
}

.paragraph.litem {
  margin-top: 0px;
  margin-bottom: 18px;
  padding-right: 0px;
  color: #242424;
  text-align: left;
}

.icon--wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin-top: 28px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 32px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.gallery-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  padding: 5px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.image-5-white {
  position: absolute;
  top: 12px;
}

.image-5-white._1 {
  top: 14px;
  opacity: 1;
}

.section-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  padding-right: 49px;
  padding-left: 49px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #b7f0ff;
}

.nav-wrapper {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 9;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  height: 60px;
  margin-right: auto;
  margin-left: auto;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-4 {
  margin: 0px 12px;
  padding-top: 23px;
  padding-right: 18px;
  padding-bottom: 23px;
  border-right: 1px none #000;
  font-size: 29px;
  line-height: 21px;
}

.div-block-13-mob {
  display: none;
  width: 30%;
  padding-left: 27px;
}

.slide-nav {
  display: none;
}

.column-1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: left;
}

.column-1._3 {
  width: 50%;
  padding-left: 10px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.right-arrow {
  display: none;
}

.text-block {
  padding-top: 3px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  text-align: center;
}

.h1-wrapper {
  width: 88%;
  padding-bottom: 20px;
}

.h1-wrapper.smallpd {
  width: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
}

.image-4 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.gallery-title {
  padding: 8px 14px;
  background-color: #fff;
  font-family: Montserrat, sans-serif;
  color: #080808;
  font-size: 26px;
  font-weight: 500;
  text-decoration: none;
}

.nav-menu-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8px;
  padding-right: 14px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-2 {
  margin-bottom: 17px;
  font-size: 21px;
}

.heading-2._2 {
  display: none;
}

.imageblack {
  position: relative;
  margin-top: 17px;
}

.slide-4 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.24)), to(rgba(0, 0, 0, 0.24))), url('../images/Slider3-1024x530.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.24)), url('../images/Slider3-1024x530.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.servicer-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 16px;
  padding-top: 54px;
  padding-right: 18px;
  padding-bottom: 54px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-right: 3px solid #c6c6c6;
}

.section-5 {
  padding-top: 0px;
  padding-bottom: 70px;
}

.icon-2 {
  display: none;
}

.container-services {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: left;
}

.gallery-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  padding: 5px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.link-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  opacity: 0.52;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
  text-decoration: none;
}

.link-block-2:hover {
  opacity: 1;
}

.button {
  margin-top: 0px;
  margin-left: 12px;
  padding: 10px 20px;
  border-radius: 100px;
  background-color: #fff;
  color: #292828;
  font-weight: 400;
}

.button.home {
  margin-top: 60px;
  border: 5px solid #dfdfdf;
  text-transform: uppercase;
}

.container-3 {
  padding-top: 53px;
  padding-bottom: 53px;
  background-color: #e3f4ff;
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.09);
  text-align: left;
}

.lightbox-link {
  position: relative;
  height: 260px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-decoration: none;
}

.lightbox-link._2 {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0px 0px;
  background-size: 125px;
}

.unordered-list {
  display: block;
  width: 50%;
  margin-top: 45px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 40px;
  padding-right: 102px;
}

.navbar-wrapper-top-mob {
  z-index: 999999;
  display: none;
  margin-top: 65px;
  padding: 12px 1% 14px 44px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: hsla(0, 0%, 100%, 0);
  box-shadow: 0 1px 9px 0 rgba(0, 0, 0, 0.09);
}

.lihtbox-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding-bottom: 30px;
  padding-left: 28px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0.35)), to(hsla(0, 0%, 100%, 0.35))), url('../images/featuredinterior-1024x530.jpg');
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0.35), hsla(0, 0%, 100%, 0.35)), url('../images/featuredinterior-1024x530.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  text-decoration: none;
}

.lihtbox-wrapper._3 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0.48)), to(hsla(0, 0%, 100%, 0.48))), url('../images/Slider1-1024x530.jpg');
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0.48), hsla(0, 0%, 100%, 0.48)), url('../images/Slider1-1024x530.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.lihtbox-wrapper._2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0.35)), to(hsla(0, 0%, 100%, 0.35))), url('../images/woodwork-003.jpg');
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0.35), hsla(0, 0%, 100%, 0.35)), url('../images/woodwork-003.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
}

.gallery-section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.testi-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 37px 23% 55px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url('../images/parra2.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/parra2.jpg');
  background-position: 0px 0px, 50% 48%;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
}

.image-2 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.08);
}

.slide-2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.24)), to(rgba(0, 0, 0, 0.24))), url('../images/Slider1-1024x530.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.24)), url('../images/Slider1-1024x530.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.heading-3 {
  padding-bottom: 11px;
  color: #5e5e5e;
  line-height: 25px;
}

.border-anchor {
  position: relative;
  left: -29px;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.body-wrapper {
  display: block;
  width: 95%;
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  box-shadow: 0 1px 23px 0 rgba(0, 0, 0, 0.13);
}

.section-3 {
  padding-top: 65px;
  padding-bottom: 79px;
}

.left-arrow {
  display: none;
}

.navbar-wrapper-top {
  z-index: 999999;
  display: block;
  margin-top: 65px;
  padding: 12px 1% 14px 44px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: hsla(0, 0%, 100%, 0);
  box-shadow: 0 1px 9px 0 rgba(0, 0, 0, 0.09);
}

.imagewhitelogo {
  position: relative;
  left: -220px;
  margin-top: 17px;
}

.block-quote {
  padding-bottom: 0px;
  border-left-style: none;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.contact-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 70px;
  height: 40px;
  padding-top: 4px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.nav-link-3 {
  padding: 6px 15px 0px;
  cursor: pointer;
}

.nav-link-3.w--current {
  color: #0a137c;
}

.nav-link-2 {
  height: 30px;
  margin-left: 7px;
  border-bottom: 4px solid transparent;
  -webkit-transition: all 658ms ease;
  transition: all 658ms ease;
}

.nav-link-2:hover {
  border-bottom-width: 25px;
  border-bottom-color: #3fe8ff;
}

.border {
  position: absolute;
  left: 78px;
  top: 9px;
  z-index: 9;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 88vw;
  height: 550px;
  margin-top: 98px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 68px;
  padding-right: 198px;
  padding-left: 57px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border: 12px solid #fff;
  opacity: 0.84;
}

.gallery-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  padding: 5px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.image {
  position: relative;
  margin-top: 17px;
}

.section-2 {
  padding-top: 52px;
  padding-bottom: 95px;
  background-color: #fff;
}

.heading {
  margin-bottom: 24px;
  font-family: Montserrat, sans-serif;
  font-size: 36px;
  font-weight: 400;
}

.heading._1 {
  width: 100%;
  margin-top: 0px;
  line-height: 52px;
}

.heading._4 {
  margin-bottom: 14px;
  line-height: 41px;
}

.div-block-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.container-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.slider-2 {
  position: relative;
  height: 690px;
}

.contact-wrapper-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-left: 0px;
  padding-left: 78px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.slide-3 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.24)), to(rgba(0, 0, 0, 0.24))), url('../images/homepage-section-1.0.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.24)), url('../images/homepage-section-1.0.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
}

.about-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 34px;
  padding-bottom: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  height: 41px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  box-shadow: none;
}

.div-block-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  padding-left: 20px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.div-block-9.right_align {
  padding-right: 20px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.contact-nav-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #949494;
  font-size: 10px;
  text-decoration: none;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.utility-page-wrap-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-6 {
  margin-bottom: 35px;
}

.heading-5 {
  font-family: Montserrat, sans-serif;
  font-size: 26px;
}

.c-footer-octa {
  margin-right: 10px;
  font-size: 9px;
  font-weight: 300;
}

.c-footer-link-2 {
  color: #222b3f;
  font-weight: 300;
  text-decoration: none;
}

@media screen and (max-width: 991px) {
  .column2 {
    padding-right: 26px;
    padding-left: 0px;
  }

  .text-wrapper {
    padding-left: 16px;
  }

  .paragraph.c {
    padding-right: 383px;
  }

  .icon-4 {
    color: #000;
  }

  .image-5-white {
    display: none;
  }

  .nav-wrapper {
    width: 97%;
    margin-left: 15px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .menu-button-2 {
    color: #181818;
    font-size: 39px;
  }

  .menu-button-2.w--open {
    background-color: #fff;
  }

  .div-block-13-mob {
    display: none;
  }

  .column-1._3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .brand-2 {
    padding-top: 5px;
  }

  .nav-menu-2 {
    z-index: 999999;
    display: block;
    margin-top: -2px;
    margin-right: auto;
    margin-left: auto;
    padding: 17px 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #fff;
    text-align: center;
  }

  .link-block-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .navbar-wrapper-top-mob {
    display: block;
    width: 98%;
    margin-top: 12px;
    margin-right: auto;
    margin-left: 4px;
    padding-top: 0px;
    padding-right: 0%;
    padding-bottom: 0px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    background-color: #fff;
  }

  .image-2 {
    margin-top: 41px;
  }

  .body-wrapper {
    display: block;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
  }

  .section-3 {
    padding-right: 31px;
    padding-left: 45px;
  }

  .navbar-wrapper-top {
    display: none;
    width: 98%;
    margin-top: 12px;
    margin-right: auto;
    margin-left: 4px;
    padding-top: 0px;
    padding-right: 0%;
    padding-bottom: 0px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    background-color: #fff;
  }

  .contact-wrapper {
    position: relative;
    left: 322px;
    width: 81px;
    height: 50px;
    margin-top: -7px;
    padding-top: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .nav-link-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 2px;
    padding-bottom: 2px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 26px;
    text-align: left;
  }

  .nav-link-2 {
    margin-top: 15px;
    margin-bottom: 12px;
    margin-left: 0px;
  }

  .border {
    left: 46px;
    right: -1%;
    z-index: 2;
  }

  .container-4 {
    padding-right: 16px;
    padding-left: 16px;
  }

  .contact-wrapper-2 {
    width: auto;
    margin-left: 34px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .footer {
    padding-bottom: 19px;
  }
}

@media screen and (max-width: 767px) {
  .text-wrapper {
    width: 44%;
    padding-top: 0px;
  }

  .paragraph.centre {
    margin-bottom: 5px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .paragraph.c {
    padding-right: 180px;
  }

  .paragraph._4 {
    padding-right: 0px;
  }

  .icon--wrapper {
    padding-right: 11px;
  }

  .gallery-3 {
    width: 52%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .heading-4 {
    margin-right: 4px;
    margin-left: 7px;
  }

  .div-block-13-mob {
    display: none;
  }

  .column-1._3 {
    display: block;
    padding-left: 50px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .nav-menu-2 {
    padding-right: 0px;
  }

  .servicer-row {
    padding-right: 19px;
    padding-left: 11px;
  }

  .section-5 {
    padding-top: 45px;
  }

  .unordered-list {
    width: 76%;
    padding-right: 20px;
  }

  .navbar-wrapper-top-mob {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    display: block;
    width: 98%;
    margin-top: 0px;
    margin-bottom: -18px;
    margin-left: -1px;
    padding-top: 0px;
    padding-left: 5%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .testi-wrapper {
    padding-right: 9%;
    padding-left: 9%;
  }

  .image-2 {
    margin-top: 46px;
  }

  .heading-3 {
    line-height: 28px;
  }

  .body-wrapper {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .navbar-wrapper-top {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    display: none;
    width: 98%;
    margin-top: 0px;
    margin-bottom: -18px;
    margin-left: -1px;
    padding-top: 0px;
    padding-left: 5%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .contact-wrapper {
    left: 234px;
  }

  .border {
    left: 50px;
  }

  .section-2 {
    padding-bottom: 43px;
  }

  .contact-wrapper-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .about-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media screen and (max-width: 479px) {
  .column2 {
    padding-top: 20px;
    padding-right: 16px;
    padding-left: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .slide {
    background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0.11)), to(hsla(0, 0%, 100%, 0.11))), url('../images/homepage_001.jpg');
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0.11), hsla(0, 0%, 100%, 0.11)), url('../images/homepage_001.jpg');
    background-position: 0px 0px, 50% 50%;
  }

  .text-wrapper {
    display: none;
    width: 100%;
    padding-top: 6px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .div-block-14 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .paragraph.centre {
    width: 80%;
    padding-right: 0px;
  }

  .paragraph.c {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 39px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 16px;
  }

  .icon--wrapper {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .gallery-3 {
    width: 100%;
  }

  .section-4 {
    height: auto;
    padding: 10px 30px 24px;
    text-align: center;
  }

  .nav-wrapper {
    width: 100%;
  }

  .heading-4 {
    margin-right: 0px;
    margin-bottom: 21px;
    margin-left: 0px;
    padding-right: 0px;
    border-right-style: none;
  }

  .div-block-13-mob {
    display: block;
    width: 100%;
    margin-top: 21px;
    margin-bottom: 21px;
    padding-top: 6px;
    padding-right: 20px;
    padding-left: 18px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .column-1._3 {
    padding-left: 10px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .brand-2 {
    padding-top: 8px;
    padding-left: 0px;
  }

  .nav-menu-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0px;
  }

  .heading-2 {
    font-size: 20px;
    line-height: 29px;
  }

  .servicer-row {
    margin-right: 0px;
    padding: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    border-right-style: none;
    text-align: center;
  }

  .section-5 {
    padding-top: 11px;
  }

  .gallery-1 {
    width: 100%;
  }

  .link-block-2 {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .link-block-2._3 {
    padding-right: 17px;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .button {
    margin-left: 0px;
    padding: 14px 30px;
  }

  .container-3 {
    padding-top: 0px;
  }

  .lightbox-link {
    height: 170px;
  }

  .unordered-list {
    padding-top: 0px;
    padding-right: 9px;
    padding-left: 9px;
  }

  .navbar-wrapper-top-mob {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: auto;
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0px 0% 0px 6%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .gallery-section {
    padding: 34px 4px;
  }

  .testi-wrapper {
    padding-right: 8%;
    padding-left: 8%;
  }

  .image-2 {
    margin-bottom: 60px;
  }

  .heading-3 {
    line-height: 28px;
  }

  .body-wrapper {
    display: block;
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
  }

  .section-3 {
    padding-top: 31px;
    padding-right: 10px;
    padding-left: 20px;
  }

  .navbar-wrapper-top {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: auto;
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0px 0% 0px 6%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .block-quote {
    padding-right: 0px;
    padding-left: 0px;
    font-size: 17px;
    line-height: 26px;
  }

  .contact-wrapper {
    position: static;
    left: 127px;
    right: 47px;
    width: 100%;
    margin-top: 37px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .nav-link-3 {
    margin-top: 27px;
    padding-top: 21px;
    padding-bottom: 21px;
  }

  .border {
    left: 46px;
    top: 0px;
    right: -3%;
    height: 28vh;
  }

  .gallery-2 {
    width: 100%;
  }

  .heading {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 29px;
    line-height: 41px;
  }

  .div-block-10 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .container-4 {
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .slider-2 {
    height: 45vh;
  }

  .contact-wrapper-2 {
    margin-left: 0px;
    padding-left: 19px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .about-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer {
    padding-top: 16px;
    padding-bottom: 13px;
  }

  .div-block-8 {
    padding-right: 8px;
    padding-left: 8px;
  }

  .div-block-9 {
    padding-left: 0px;
  }

  .div-block-9.right_align {
    padding-right: 0px;
  }
}

